---
layout: page
title: Tags
---

{% assign rawtags = "" %}
{% for post in site.posts %}
	{% assign ttags = post.tags | join:'|' | append:'|' %}
	{% assign rawtags = rawtags | append:ttags %}
{% endfor %}
{% for talk in site.talks %}
	{% assign ttags = talk.tags | join:'|' | append:'|' %}
	{% assign rawtags = rawtags | append:ttags %}
{% endfor %}
{% assign rawtags = rawtags | split:'|' | sort %}

{% assign tags = "" %}
{% for tag in rawtags %}
	{% if tag != "" %}
		{% if tags == "" %}
			{% assign tags = tag | split:'|' %}
		{% endif %}
		{% unless tags contains tag %}
			{% assign tags = tags | join:'|' | append:'|' | append:tag | split:'|' %}
		{% endunless %}
	{% endif %}
{% endfor %}


<section class="list">
    <h1 class="title">Tags</h1>
    {% for tag in tags %}
        <a class="item" href="#{{ tag | slugify }}">{{ tag }}</a>
    {% endfor %}
</section>

<hr>

<section class="tag-list">
    {% for tag in tags  %}
    <h2 class="title" id="{{ tag | slugify }}">#{{ tag }}</h2>

    <ul class="list">

        {% for post in site.posts %}
          {% if post.tags contains tag %}
          <li class="item">
              <a class="url" href="{{ site.url }}{{ post.url }}">
                  <aside class="date"><time datetime="{{ post.date | date:"%d-%m-%Y" }}">{{ post.date | date: "%b %d %Y" }}</time></aside>
                  <h3 class="title">{{ post.title }}</h3>
              </a>
          </li>
          {% endif %}
        {% endfor %}

        {% for talk in site.talks %}
          {% if talk.tags contains tag %}
          <li class="item">
              <a class="url" href="{{ site.url }}{{ talk.url }}">
                  <aside class="date"><time datetime="{{ talk.date | date:"%d-%m-%Y" }}">{{ talk.date | date: "%b %d %Y" }}</time></aside>
                  <h3 class="title">{{ talk.title }}</h3>
              </a>
          </li>
          {% endif %}
        {% endfor %}

    </ul>

    <div class="breaker"></div>
    {% endfor %}
</section>
