
<div id="ember600" class="ember-view"><div id="headerArea">
    <div class="pageContent">
        <div class="row mobile-menu">
            <div class="col-xs-2">
                <a id="mobile-menu-button" href="sidr"><i class="fa fa-bars"></i></a>
            </div>
            <div class="col-xs-8 text-center">
                <a id="ember636" class="ember-view active" href="{{ site.url }}">
                  <img class="mobile-header-image" src="{{ site.url }}/assets/uploads/th_symbol.png">
                </a>
            </div>
        </div>


        <nav id="menu" class="topNav" role="navigation">
            <li id="ember638" class="ember-view uppercase menuPunkt active">
              <a href="{{ site.url }}">
                <img src="{{ site.url }}/assets/uploads/th_header_logo.png" class="headerLogo">
              </a>

            </li>
            <ul class="toppmeny">

                    <li class="menu-text-link">

                      {% if page.title == "Partnere" %}
                          <a id="ember690" class="ember-view menuLink active" href="{{ site.url }}/partnere">Partner</a>
                      {% else %}
                        <a id="ember690" class="ember-view menuLink" href="{{ site.url }}/partnere">Partner</a>
                      {% endif %}



                    </li>

                    <li class="menu-text-link">

                            {% if page.title == "Community" %}
                                <a id="ember708" class="ember-view menuLink active" href="{{ site.url }}/community">Community</a>
                            {% else %}
                              <a id="ember708" class="ember-view menuLink" href="{{ site.url }}/community">Community</a>
                            {% endif %}

                    </li>

                    <li class="menu-text-link">

                            {% if page.title == "Vi Tilbyr" %}
                                <a id="ember724" class="ember-view menuLink active" href="{{ site.url }}/vitilbyr">Vi Tilbyr</a>
                            {% else %}
                              <a id="ember724" class="ember-view menuLink" href="{{ site.url }}/vitilbyr">Vi Tilbyr</a>
                            {% endif %}

                    </li>

                    <li class="menu-text-link">

                            {% if page.pageid == "OmHuset" %}
                                <a id="ember753" class="ember-view menuLink active" href="{{ site.url }}/omhuset">Om huset</a>
                            {% else %}
                              <a id="ember753" class="ember-view menuLink" href="{{ site.url }}/omhuset">Om huset</a>
                            {% endif %}

                    </li>

            </ul>
        </nav>

        <div id="sidr" class="sidr left">
            <ul class="mobile-menu">

                    <li class="mobile-menu-link">

                            {% if page.title == "Partnere" %}
                              <a id="ember776" class="ember-view mobile-menuLink active" href="{{ site.url }}/partnere">Partner</a>
                            {% else %}
                            <a id="ember776" class="ember-view mobile-menuLink" href="{{ site.url }}/partnere">Partner</a>
                            {% endif %}

                    </li>

                    <li class="mobile-menu-link">

                            {% if page.title == "Community" %}
                                <a id="ember780" class="ember-view mobile-menuLink active" href="{{ site.url }}/community">Community</a>
                            {% else %}
                              <a id="ember780" class="ember-view mobile-menuLink" href="{{ site.url }}/community">Community</a>
                            {% endif %}
                    </li>

                    <li class="mobile-menu-link">


                            {% if page.title == "Vi Tilbyr" %}
                                <a id="ember784" class="ember-view mobile-menuLink active" href="{{ site.url }}/vitilbyr">Vi Tilbyr</a>
                            {% else %}
                                <a id="ember784" class="ember-view mobile-menuLink" href="{{ site.url }}/vitilbyr">Vi Tilbyr</a>
                            {% endif %}

                    </li>

                    <li class="mobile-menu-link">

                            {% if page.pageid == "OmHuset" %}
                                <a id="ember788" class="ember-view mobile-menuLink active" href="{{ site.url }}/omhuset">Om huset</a>
                            {% else %}
                              <a id="ember788" class="ember-view mobile-menuLink" href="{{ site.url }}/omhuset">Om huset</a>
                            {% endif %}

                    </li>

            </ul>
        </div>
    </div>
</div></div>
