@charset "UTF-8";
/* CSS Document */

html {
    font-size: 62.5%;
}
body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    line-height: 1.46;
    color: #4d4d4d;
    background: #FFF;
    margin: 0;
    font-size: 16px;
    font-size: 1.6rem;
    width:100%;
    position: relative;
}




h1 {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 32px;
    font-size: 3.2rem;
    position: relative;
    margin-left: 0px;
    margin-bottom: 10px;
    margin-top: 10px;
}

h2 {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 23px;
    font-size: 2.3rem;
    line-height: 1.45;
    color: #999;
}

h3 {
    font-size: 23px;
    line-height: 1.45;
}

h1.underscore-header, .booking-intro h1:first-of-type {
    text-align: center;
    margin-bottom: 50px !important;
}

h4	{
    clear: both;
    font-size: 1.8rem;
}

p{
    margin: 20px 0;
}

p, #mainArea li {
    font-size: 18px;
    font-size: 1.8rem;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
    line-height: 1.45;
}

#mainArea li, #mainArea .li{
    line-height: 1.25;
    margin-bottom: 10px;
    padding-right: 20px;
}

a {
    color: #46bee6;
}


/* Overstyre Bootstrap padding */

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
    padding-left: 10px;
    padding-right: 10px;
}
/*<-- Bootstrap */

.row{
    margin-top: 20px;
}

div.room-name-heading.booked-row{
    position: relative;
    margin-bottom: 60px;
    font-size: 26px;
    font-size: 2.6rem;
    font-weight: 400;
    text-align: center;
}

h1.underscore-header:after, div.room-name-heading:after, .booking-intro h1:first-of-type:after{
    content: "";
    background: #ff9b00;
    text-align: center;
    position: absolute;
    left: 47.5%;
    bottom: -30px;
    float: none;
    height: 5px;
    width: 33px;
    clear:both;
}
/*
div.room-name-heading:after{
    left: 133px;
}*/

tr, .row{
    font-size: 1.5rem;
}

h1.barHeader, h2.barHeader{
    margin-top: 0.8em;
    margin-left: 0.8em;
    text-transform: uppercase;
    color: #FFF;
    background-color: #214B8E;
    position: relative;
    float: left;
    clear: both;
    padding: 0 0.4em 0.1em 0em;
    font-weight: lighter;
}

.room-overview {
    margin-top: 40px;
}

/* Colours */

.cick, .pink{
    color: #d90041;
}

.warm{
    color: #ff581e;
}

.sun{
    color: #ff9b00;
}

.navy{
    color: #004b8e;
}

.sky, .himmel{
    color: #46bee6;
}

.silver{
    color: #c0c0c0;
}

.gray{
    color: #4d4d4d;
}

/* Fontvekt */

.bold{
    font-weight:bold;
}

.italics{
    font-style: italic;
}

.betingelser-link {
    color: #214B8E;
    text-decoration: underline;
    cursor: pointer;
}


.backgroundParallax {
    height: 600px;
    height: 100vh;
    width: 100%;
    display: block;
    position: relative;
}

.background-parallax {
    position: absolute;
    bottom: 40px;
    /*	bottom: 10vh;*/
    left: 50%;
    /*	left: 40vw;*/

}


.large-page-header {
    color: #ffffff;
    text-align: left;
    font-size: 3.6rem;
    background-color: rgba(0,0,0,0.7);
    padding: 2px 40px 5px 10px;
}

.large-page-content {
    color: #ffffff;
    line-height: 35px;
    text-align: left;
    font-weight: normal;
    font-size: 22px;
    font-size: 2.2rem;
    background-color: rgba(0,0,0,0.7);
    padding: 2px 40px 5px 10px;
}

.large-page-buttons {
    color: #ffffff;
    line-height: 35px;
    font-size: 2.2rem;
    margin-top: 20px;
    text-align: left;
}


.index-meeting-overview {
    background-color: #fff;
    padding-top: 250px;
    padding-bottom: 250px;
    text-align: center;
}

.index-meeting-overview h1 {
    font-size: 3.6rem;
    color: #d90041;
}

.index-meeting-overview h2 {
    font-size: 3rem;
}

#googlemaps {
    height: 380px;
    width: 100%;
}

.index-contact-page {
    position: relative;
    text-align: center;
}

.index-contact-page .col-md-6{
    padding-left: 15px;
}

.index-contact-page .col-md-6:first-of-type{
    padding-left: 0px;
    padding-right: 15px;
}

.contactContent{
    padding: 0 20px;
}

.contactContent h3{
    margin-top: 5px;
}

.index-contact-header {
    font-size: 4rem;
}



.index-contact-page .row {
    font-size: 2.5rem;
}

.index-contact-page .row .col-md-4 {
    text-align: right;
}

.index-contact-page .row .col-md-6 {
    text-align: left;
}

.shaded-background {
    background-color: #F2F2F2;
}

.large-text-overview {
    padding-top: 150px;
    padding-bottom: 150px;
}

.large-text-header {
    font-size: 36px;
    line-height: 50px;
}

.large-text-area {
    color: #000;
    line-height: 35.5px;
    font-size: 25px;
}

.quotes-quote {
    padding-right: 30px;
    padding-left: 20px;
    padding-bottom: 50px;
}
.quotes-style {
    color: #46bee6;
    vertical-align: text-top;
}

.community-quotes .quotes-style {
    color: #d90041;
}

.white-background {
    background-color: #ffffff;
    padding-top: 40px;
    padding-bottom: 40px;
}

.quotes-text {
    font-size: 22px;
}

.quotes-from {
    color: #46bee6;
    font-size: 18px;
    padding-top: 25px;
    text-align: right;
}

.community-quotes .quotes-from{
    color: #ff581e;
}

.tn-btn-left {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.tn-btn-right {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.tn-btn-center {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.tn-btn {
    border: solid 1px #cccccc;
    padding: 3px 10px;
    min-width: 200px;
    min-height: 50px;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 2.2rem;
    letter-spacing: 1px;
    background-color: #fff;

    transition:1s all;
}

a.tn-btn{
    padding: 8px 28px;
    color: #fff;
    text-decoration: none;
}


#deltakereVelger .tn-btn, #bookingLengdeVelger .tn-btn, .floor-chooser .tn-btn{
    margin-right: -4px;
    margin-left: -4px;
}

.floor-chooser .tn-btn{
    min-width: 150px;
}

.tn-btn-rounded {
    border-radius: 25px;
}

.tn-btn-small {
    border: solid 1px #cccccc;
    padding: 3px 10px;
    min-width: 100px;
    min-height: 30px;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: 1px;
    margin-right: -4px;
    background-color: #fff;

    transition:1s all;
}


.tn-btn-primary {
    background-color: #46bee6;
    border: 1px solid #c0c0c0;
    -moz-box-shadow: inset 0 0 5px 5px #249ed7;
    -webkit-box-shadow: inset 0 0 5px 5px #249ed7;
    box-shadow: inset 0 0 5px 5px #249ed7;
    color: #fff;
    transition:1s all;
}

.tn-btn-default.active {
    background-color: #46bee6;
    border: 1px solid #c0c0c0;
    -moz-box-shadow: inset 0 0 5px 5px #249ed7;
    -webkit-box-shadow: inset 0 0 5px 5px #249ed7;
    box-shadow: inset 0 0 5px 5px #249ed7;
    color: #fff;
    transition:1s all;
}

.tn-btn-selected {
    background-color: #0baa27;
    border: 1px solid #0baa27;
    color: #fff;

    transition:1s all;
}

.tn-btn-warning {
    background-color: #ff581e;
    box-shadow: 0 0 5px 5px #ff350d inset;
    transition:1s all;
}

img[usemap] {
    border: none;
    height: auto;
    max-width: 100%;
    width: auto;
}

img, a img{
	text-decoration: none;
}

img.mobile-header-image {
    max-height: 30px;}

.room-description-image {
    border: none;
    height: auto;
    min-width: 100%;
    width: auto;
}

.room-overview .col-md-8{
    float: right;
}

.room-overview .col-md-4{
    float: left;
}


.bookingTypeSelectorDiv .tn-btn {
    min-width: 120px;
    font-size: 2rem;
}

.booking-matched-room img{
    width:284px;
}


.booking-matched-room-slots .tn-btn{
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
    margin-right: -4px;
    min-height: inherit;
    min-width: inherit;
    padding: 3px 6px;
    text-transform: uppercase;
}

.booking-matched-room-slots .text-left{
    margin-top: 10px;
    margin-bottom: 30px;
    width: 280px;
}

.booking-filter.pageContent{
    margin-top:50px;
}

.booking-filter .row{
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    align-content: center;
}

.booking-filter .col-md-4{
    width:auto;
    margin-left: auto;
    margin-right:auto;
    display: inline-block;
    text-align: center;
    float: none;
}

.booking-intro .col-md-4{
    min-width: 300px;
    display: block;
    margin: 0 auto;
    float: none;
    clear: both;
    padding: 0 20px;
}

.booking-intro div.col-xs-12.col-sm-6.col-md-4, .booking-intro div.col-xs-12.col-sm-6.col-md-5, {
    float: left;
}

.booking-intro div.col-xs-12.col-sm-6.col-md-8, .booking-intro div.col-xs-12.col-sm-6.col-md-7, .booking-intro .col-md-8.col-md-offset-2{
    text-align:left;
}

.booking-intro .table th, .booking-intro .table tr{
    text-align: left !important;
}

.booking-intro .table{
    font-size: 21px;
    font-size: 2.1rem;
}
.booking-intro .table{
    margin-top: 22px;
}

.booking-filter .col-md-offset-2{
    margin-left: auto;
}




.bookingTypeSelectorDiv h2 {
    font-size: 1.4rem;
    font-style: italic;
}

.booking-matched-room {
    max-width: 284px;
}

.current-day-button.tn-btn {
    color: #fff;
    letter-spacing: 1px;
    padding: 10px 40px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.next-day-button.tn-btn {
    color: #000;
    letter-spacing: 1px;
    padding: 5px 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    min-width:100px;
}


.booking-filter .row {
    margin-top: 5px;
}
.booking-filter div{
    margin-bottom: 15px;
}

.booking-matched-room-slots div, .booking-matched-room img{
    margin-bottom: 7px;
}

div.booking-matched-room-name{
    margin-bottom: 0px;
}

div.booking-matched-room-pris{
    margin-bottom: 12px;
}

.booking-matched-room-name, .booking-matched-room-pris{
    text-align: left;
}

.booking-filter h1 {
    font-size: 1.75em;
}

.large-btn-group {
    margin-top: 50%;
    margin-left: auto;
}

.large-margin-bottom {
    margin-bottom: 0px;
}

/*div.col-md-12{
    padding: 0px;
}*/

div.col-md-12 img, div.col-md-6 img{
    margin-top: 2em;
    margin-bottom: 0.4em;
}

div.col-md-6 p{
    clear: both;
}

.weekSelector {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 42px;
    color: gray;
    margin-top: 40px;
}

.rotate180deg {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.chevron {
    display:inline-block;
    width: .5em;
    height: .8em;
    position:relative;
}
.chevron:before,
.chevron:after {
    display:block;
    content:"";
    width:0;
    height:0em;
    border-style:solid;
    position:absolute;
}
.chevron:before {
    right:0;
    border-width:.4em 0 .4em .4em;
    border-color:transparent transparent transparent red;
}
.chevron:after {
    left:0;
    border-width:.4em 0 .4em .4em;
    border-color:transparent transparent transparent #fff;
}
.chevron.skinny {
    width:.4em;
}
.chevron.fat {
    width:.6em;
}

.roomBooking {
    cursor: pointer;
    background: #ddd;
}

.weekText {
    color: #004b8e;
    text-transform: uppercase;
    font-size: 22px;
    cursor: pointer;
}

.weekDates {
    color: #000;
}

.navbar-header	{
    margin-top: 1.6em;
}

.dropdown-menu {
    background: #c0c0c0;
    color: white;
}


.uppercase {
    text-transform:uppercase;
}

#headerArea {
    background-color: rgba(255, 255, 255, 0.90);
    color: #c0c0c0;
    position: absolute;
    top: 0;
    right:auto;
    left: auto;
    z-index:99;
    padding-bottom: 10px;
}

.topNav{
    display: block;
}
.topNav li{
    list-style: none;
    margin-bottom: 16px;
    z-index: 1;
}

.topNav li.menuPunkt:first-of-type{
    z-index: 2;
    text-align: center;
}

img.headerLogo {
    cursor: pointer;
}

ul.toppmeny {
    text-transform: uppercase;
    color: #c0c0c0;
    font-size: 1.2em;
    letter-spacing: 0.05em;
    font-weight: 300;
    list-style: none;
    padding-left: 0;
    overflow: visible;
    text-align: center;
}

ul.toppmeny li {
    display: inline;
    position: relative;
}

ul.toppmeny li a {
    color: #666;
    padding-left: 0;
    padding-right: 0;
    margin-right: 10px;
    margin-left:10px;
    text-decoration: none;
    padding-bottom: 5px;
    /*    border-bottom: 5px #c0c0c0 solid;*/
    font-size: 2rem;
    font-weight: 300;
}

ul.toppmeny li a:after{
    content: "";
    background: #c0c0c0;
    position: absolute;
    bottom: -13px;
    left: 0;
    height: 5px;
    width: 33px;
    overflow: visible;
    margin-left:10px;
}

ul.toppmeny li a:hover:after {
    background: #d90041;

}

ul.toppmeny li a.active:after{
    background: #ff9b00;
}




ul.toppmeny li a.active {
    color: #004b8e;
    text-decoration: none;
    /*    border-bottom: 5px #ff9b00 solid;*/
}


.navbar-collapse{
    padding: 0;
}


#mainArea {
    padding-top: 130px;
}

.forside {
    margin-top: -130px;
}

.selected {
    background: #40c5e9;
}

.selected.calendarLegend{
    border: 2px solid #40c5e9;
}

.selectedColor {
    color: #40c5e9;
}


.double-selected {
    background: #40c5e9; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #40c5e9 0%, #40c5e9 50%, #79e3f8 51%, #79e3f8 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#40c5e9), color-stop(50%,#40c5e9), color-stop(51%,#79e3f8), color-stop(100%,#79e3f8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  #40c5e9 0%,#40c5e9 50%,#79e3f8 51%,#79e3f8 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  #40c5e9 0%,#40c5e9 50%,#79e3f8 51%,#79e3f8 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  #40c5e9 0%,#40c5e9 50%,#79e3f8 51%,#79e3f8 100%); /* IE10+ */
    background: linear-gradient(135deg,  #40c5e9 0%,#40c5e9 50%,#79e3f8 51%,#79e3f8 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#40c5e9', endColorstr='#79e3f8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.btn {
    border-radius: 0px;
}

.opptatt {
    background: #6b6b6b;
    color: #7e7e7e;
}

.opptatt.calendarLegend{
    border: 2px solid #6b6b6b;
}


.ledig {
    background: #fff;
}

.ledig.calendarLegend{
    border: 2px solid #343697;
}


.non-selected {
    background: #f7f7f7;
}

.delvis-opptatt {
    background: #6b6b6b;
    color: #f2f3f6;
}

.barHeader:before {
    content: '';
    display: inline-block;
    width: 9px;
    height: 36px;
    background: #f39400;
    margin-top: -12px;
    margin-left: -19px;
    margin-right: 10px;
}

h2.barHeader:before {
    margin-left: -17px;
}

.pageContent {
    font-weight: normal;
	display: block;
	clear: both;
}

.purpleBackground {
    background: #5068AB;
    color: #E9F2F1;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.purpleBackground h1 {
    color: #E9F2F1;
}

.purpleBackground p.even {
    padding: 20px;
    background-color: rgba(122, 125, 160, 0.43);
}

.purpleBackground ul {
    list-style: none;
}

.purpleBackground ul li {
    margin-left: -20px;
}

.piText {
    color: #e1a836;
    margin-left: 50px;
}

.yellowBackground {
    background: #dada4d;
    color: #525468;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.yellowBackground h1 {
    color: #525468;
}

.yellowBackground p.even {
    padding: 20px;
    background-color: rgba(122, 125, 160, 0.43);
}

.yellowBackground ul {
    list-style: none;
}

.yellowBackground ul li {
    margin-left: -20px;
}

.infobox {
    background: #dbdbdb;
    font-size: 12px;
}

.infobox h1 {
    font-size: 28px;
}

.tenMarginGap {
    margin-top: 10px;
}

#footerArea {
    background: #c0c0c0;
    color: white;
    font-weight: 700;
    height: 5em;
    font-size: 16px;
    text-align: center;
}

#footerArea .pageContent{
    padding: 20px 15px;
}


.livicon {
    display: inline-block;
    line-height: inherit;
    vertical-align: middle;
    height: 18px!important;
}

.pointer {
    cursor: pointer;
}

/* Table */
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    vertical-align: middle;
    border-top: none;
    padding: 8px 0;
}


/* Booking */

.room-div {
    width: 300px;
    min-height: 150px;
    padding: 10px;
}

table.room-table {

}

table.room-table-header {
    background: none;
    margin-bottom: 10px;
    width: 100%;
}

table.room-table tr td {
    width: 250px;
    border: 2px solid #ddd;
    line-height: 1.2em;
    padding-left: 3px;
}
table.room-table tr td.selected {
    color: #fff;
}

table.hour {
    width: 100%;
}

table.hour tr td {
    text-align: center;
    background: #f7f7f7;
    line-height: 30px;
}

table.hour tr td.selected {
    background: #40c5e9;
}

table.hour tr td.opptatt {
    background: #6b6b6b;
}

table.hour tr td.day-feature {
    text-align: center;
    width: 18px;
}

.sub-total {
    font-weight: 900;
}

div.booked-row {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 0.8em;
}

/*div.room-name-heading {
    text-transform:uppercase;
    font-size: 1.1em;
    color: #004b8e;
    font-weight: 100;
}*/

div.room-name-heading, .booked-row{
    text-align: left;
}

.remove-hour-btn {
    width: 20px;
    margin-left: 0;
    background: #e94040;
}

.reserve-btn {
    border-radius: 25px;
    border-color: transparent;
    width: 100%;
    max-width: 300px;
    min-height: 50px;
    padding: 3px 10px;
    font-weight: 300;
    border-radius: 25px;
    text-transform: uppercase;
    font-size: 2.2rem;
    letter-spacing: 1px;
    margin-top: 15px;
}

.btn-xs{
    margin-right: 6px;
}

.bookingTypeSelectorDiv {
    padding-top: 15px;
    font-size: 18px;
    font-weight: 600;
}

.bookingTypeSelector {
    background: #fafafa url("/images/downarrow.png") no-repeat 90% 50%;
    display: inline-block;
}

.bookingTypeSelector select {
    background: transparent;
    width: 100px;
    text-align: center;
    padding: 5px;
    font-size: 16px;
    line-height: 1;
    border: 0;
    border-radius: 0;
    height: 34px;
    border-bottom: 2px #004b8e solid;
    -webkit-appearance: none;
}

.booking-chooser {
    min-height: 600px;
}

.booking-intro {
    text-align: center;
}


/** Sprites **/

.sprite { background: url('/images/sprite.png') no-repeat top left;  }
.sprite.blikkfang_a { background-position: 0px 0px; width: 66px; height: 36px;  }
.sprite.blikkfang_b { background-position: 0px -46px; width: 66px; height: 36px;  }
.sprite.blikkfang_c { background-position: 0px -92px; width: 66px; height: 36px;  }
.sprite.fyrtarnet_a { background-position: 0px -138px; width: 66px; height: 36px;  }
.sprite.fyrtarnet_b { background-position: 0px -184px; width: 66px; height: 36px;  }
.sprite.fyrtarnet_c { background-position: 0px -230px; width: 66px; height: 36px;  }
.sprite.innsikt_a { background-position: 0px -276px; width: 66px; height: 36px;  }
.sprite.innsikt_b { background-position: 0px -322px; width: 66px; height: 36px;  }
.sprite.innsikt_c { background-position: 0px -368px; width: 66px; height: 36px;  }
.sprite.inspirasjon_a { background-position: 0px -414px; width: 66px; height: 36px;  }
.sprite.inspirasjon_b { background-position: 0px -460px; width: 66px; height: 36px;  }
.sprite.inspirasjon_c { background-position: 0px -506px; width: 66px; height: 36px;  }
.sprite.klokke_icon { background-position: 0px -552px; width: 13px; height: 16px;  }
.sprite.lysningen_a { background-position: 0px -578px; width: 66px; height: 36px;  }
.sprite.lysningen_b { background-position: 0px -624px; width: 66px; height: 36px;  }
.sprite.lysningen_c { background-position: 0px -670px; width: 66px; height: 36px;  }
.sprite.spillrommet_a { background-position: 0px -716px; width: 66px; height: 36px;  }
.sprite.spillrommet_b { background-position: 0px -762px; width: 66px; height: 36px;  }
.sprite.spillrommet_c { background-position: 0px -808px; width: 66px; height: 36px;  }

.klokke {
    width: 16px;
    min-width: 16px;
}
.attributionText {
    font-size: 14px;
    margin-top: 10px;
    color: #000;
}

.attributionText a {
    color: #000;
    font-weight: 600;
}

.calendarLegend {
    margin-right: 15px;
    margin-left: 15px;
    width: 20px;
    min-width: 20px;
    height: 20px;
    display: inline-block;
}

.calendarIcon {
    font-size: 46px;
}

.fullWidth {
    width: 100%;
}

.thinborder {
    border: 1px solid #000;
}

.partnerlogo {
    clear: both;
    display: block;
    margin-bottom: 2em;
    text-align: center;
}

.partnerlogo img {
    display: inline-block;
    margin: 0.5em;
    max-width: 180px;
    padding: 0;
    vertical-align: baseline;
}


.txtRight {
    text-align: right !important;
}
/*

#mobile-menu-button {
    background-color: #f00;
    max-width: 55px;
    min-height: 35px;
    line-height: 35px;
    padding-left: 20px;
    color: #fff;
    margin-top: 10px;
    margin-bottom: -10px;
    padding-right: 5px;
}

.shopping-cart-button {
    background-color: #00a8e0;
    max-width: 55px;
    min-height: 35px;
    line-height: 35px;
    padding-right: 20px;
    color: #fff;
    margin-top: 10px;
    margin-bottom: -10px;
    padding-left: 5px;
}

.shopping-cart-button .active {
    color: #fff;
}
*/


div.row.mobile-menu{
    margin-top: 15px;
}

#mobile-menu-button, .shopping-cart-button {
    position: absolute;
    min-height: 25px;
    line-height: 25px;
    color: #fff;
    padding: 2px 8px 4px 10px;
    font-size: 17px;
    font-size: 1.7rem;
}

#mobile-menu-button {
    top: 0;
    left: 0;
    background-color: #d90041;
    padding-left: 25px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}


.shopping-cart-button {
    top: 0;
    right: 0;
    background-color: #00a8e0;
    padding-right: 25px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.shopping-cart-button .active {
    color: #fff;
}

ul.mobile-menu li {
    position: relative;
}

ul.mobile-menu li a:after{
    content: "";
    background: #c0c0c0;
    position: absolute;
    bottom: 0px;
    right: 15px;
    height: 5px;
    width: 33px;
}

ul.mobile-menu li a:hover:after {
    background: #fff;

}

ul.mobile-menu li a.active:after{
    background: #fff;
}

.plantegning-beskrivelse img{
    margin-bottom: 5px;
}

.plantegning-beskrivelse h1{
    margin-top: 20px;
}

.plantegning-beskrivelse h1:first-of-type, .plantegning-beskrivelse h3:first-of-type{
    font-size: 21px;
    font-size: 2.1rem;
    font-weight: 600;
    margin: 5px 0 5px 0;
    line-height: 1.2;
}

.foresporselForm {
    width: 100%;
}

.booking-intro h1, .booking-intro h2, .booking-intro h3, .booking-intro p, .foresporselForm, .booking-intro .table td, .booking-intro .table th{
    margin-bottom: 20px;
}

/* Overstyre bootstrap-farger og marginer/padding*/



.has-success .form-control-feedback{
    color: #0baa27;
}

.has-success .control-label{
    color: #4d4d4d;
}

.has-warning .help-block,
.has-warning .control-label,
.has-warning .radio,
.has-warning .checkbox,
.has-warning .radio-inline,
.has-warning .checkbox-inline {
    color: #4d4d4d;
}
.has-warning .form-control {
    border-color: #4d4d4d;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
.has-warning .form-control:focus {
    border-color: #4d4d4d;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #46BEE6;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #46BEE6;
}
.has-warning .input-group-addon {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #4d4d4d;
}
.has-warning .form-control-feedback {
    color: #FF581E;
}

.radio, .checkbox {
    padding-left: 0;
    padding-right: 5px;
}

.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"], input[type="radio"], input[type="checkbox"]{
    margin-left: 0;
    margin: 4px 10px 0 0;
}

.col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-12{
    padding-right: 15px;
    padding-left: 15px;
}

#headerArea, #mainArea, .pageContent{
    width:100%;
    /*overflow: hidden;*/
}

.row{
    margin-right: 0;
}

.booking-matched-room-slots .col-sm-4{
    width: 88px;
    margin-right: 4px;
    padding: 2px;
    display: inline-block;
}

div.col-xs-12.col-sm-6.col-md-5{
    max-width: 100%;
}

.booking-matched-room-slots .tn-btn{
    font-size: 14px;
}

.sidr{
    z-index: 100;
}


.text-center{
	text-align: center;
}

.center-dotted {
    margin-left: 50px;
    margin-right: 50px;
}

.center-dotted::before {
    content: '';
    position: absolute;
    left: 50%;
    height: 100%;
    width: 4px;
    background: #d7e4ed;
    z-index: 0;
    overflow: none;
}

.index-community-events-column {
    border-left: 4px solid #d7e4ed;
}

.index-community-event-separator {
    width: 35%;
    text-align: left;
    margin-left: 0%;
    border-width: 3px;
    border-color: #d7e4ed;
}

.index-community-events-area i.fa-spin {
    font-size: 68px;
    position: absolute;
    top: 50%;
}

.index-community-event {
    position: relative;
    cursor: pointer;
}

.index-community-event-selected {
    color: #f00;
    position: absolute;
    left: -30px;
    margin: auto;
    top: 35%;
}

.spinner-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.3);
    z-index: 10;
    color: #000;
    left: 0;
    right: 0;
    padding-left: 40%;
}

.community-event-button {
    cursor: pointer;
}

.community-event-button:hover {
    color: #f00;
}

/* Kart */
.contactContent{
	padding: 0 20px 0 0;
}

/* footer */

/* hovedinnhold, forside */
.forside .col-md-12{
	padding: 0;
}

/* Mailchimp */

#templateContainer{
	z-index: 2;
}
.index-contact-page, .index-contact-header{
	margin-bottom: 0px;
}

.index-mailchimp-page{
	padding: 50px 0 80px 0;
	background-color: #46bee6;
	color: #fff;
	margin-top: -29px;
	margin-bottom: -109px;
	z-index: 1;
}

.mailchimp_header, .mailchimp-intro-text, .ndicates-required, .indicates-required {
	margin-bottom: 10px;
}

label{
	padding-top: 10px;
}

.submit_container .button{
	background-color: #000;
	padding: 15px 20px;
	border: 0;
	font-weight: bold;
	z-index: 100;
}

.submit_container .button:hover {
	background-color: #fff;
	color: #46bee6;
	z-index: 100;
}

.poweredWrapper{
	margin-top: 20px;
}

/* Skjule elementer */

.index-community-events-page{
	display: none;
}

@media (min-width: 320px) {
    #menu {
        display: none;
    }

    #slidr {
        display: block;
    }

    /*    .mobile-menu {
            display: block;
            position: relative;
        }*/

    .weekText {
        display: inline-block;
        *display: inline;/* for IE7*/
        *zoom:1;/* for IE7*/
        width: 130px;
        min-width: 130px;
        margin-left: 25px;
        margin-right: 25px;
    }

    .roomBooking {
        margin-bottom: 15px;

    }

    .headerLogo {
        width: 230px;
        margin-right: 40px;
        float: none;
    }

    .bookingTypeSelectorDiv .tn-btn, .next-day-button.tn-btn {
        min-width: 70px;
        font-size: 1.7rem;
        padding: 3px 10px 5px;
        min-height: 30px;
    }

    .next-day-button.tn-btn{
        margin-top: 20px;
    }
}

.weekDates {
    font-size: 0.7em;
}

@media (min-width: 768px) {
    .bookingTypeSelectorDiv .tn-btn, .next-day-button.tn-btn {
        min-height: 50px;
    }

    #menu {
        display: block;
    }

    #slidr {
        display: none;
    }

    .mobile-menu, .sidr {
        display: none !important;
    }


    #headerArea .pageContent{
        padding: 20px 15px;
    }

    .weekText {
        display: inline-block;
        *display: inline;/* for IE7*/
        *zoom:1;/* for IE7*/
        width: 130px;
        min-width: 130px;
        margin-left: 45px;
        margin-right: 45px;
    }

    .roomBooking {
        min-height: 125px;
    }

    .headerLogo {
        width: 230px;
    }

    .pageContent {
        margin: 0 auto;
        padding: 0;
        width: 750px;
    }

    .bookingTypeSelectorDiv .tn-btn {
        min-width: 120px;
        font-size: 2rem;
    }
}

@media (min-width: 992px) {
    #menu {
        display: block;
    }

    .weekText {
        display: inline-block;
        *display: inline;/* for IE7*/
        *zoom:1;/* for IE7*/
        width: 130px;
        min-width: 130px;
        margin-left: 45px;
        margin-right: 45px;
    }

    .roomBooking {
        min-height: 125px;
    }

    .headerLogo {
        width: 230px;
    }

    .pageContent {
        margin: 0 auto;
        padding: 0;
        width: 950px;
    }

    .txt60{
        width:60%;

        display: block;
    }
}

@media (min-width: 1200px) {
    .headerLogo {
        float: left;
    }

    .weekText {
        display: inline-block;
        *display: inline;/* for IE7*/
        *zoom:1;/* for IE7*/
        width: 130px;
        min-width: 130px;
        margin-left: 55px;
        margin-right: 55px;
    }

    .roomBooking {
        min-height: 125px;
    }

    .headerLogo {
        width: 230px;
    }

    /*

        .pageContent {
            margin: 0 auto;
            padding: 0;
            width: 1100px;
        }

    */
}


@media (max-width: 749px) {
    #headerArea {
        padding-bottom: 5px;
    }

    #mainArea {
        padding-top: 50px;
    }

    .forside {
        margin-top: -50px;
    }

    .large-text-overview {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .contactContent .col-md-6{
        margin-bottom: 32px;
    }

    .room-overview .col-md-8, .room-overview .col-md-4{
        float: none;
        width: 100%;
        margin: 0 auto;

    }

    .next-day-button.tn-btn{
        min-width: 80px;
        font-size: 14px;
    }

    .col-md-5 {
        max-width: 284px;
        margin: 0 auto;
        float: none;
    }

    .forside .background-parallax {
        background: rgba(0, 0, 0, 0.7);
        bottom: 0;
        width: 100%;
    }

    .forside .backgroundParallax {
        background-position: -190px 50% !important;
        /*background-size: auto auto !important;*/
    }


    .forside h1.large-page-header{
        font-size: 26px;
        font-size: 2.6rem;
        line-height: 1.45;
        background: none;
        padding: 0;
    }

    .forside .large-page-content{
        font-size: 18px;
        font-size: 1.8rem;
        line-height: 1.45;
        background: none;
        padding: 0 5px;
    }

    .forside .large-page-buttons  {
        margin-bottom: 15px;
    }

    .forside .large-page-buttons .tn-btn {
        min-width: 150px;
        min-height:30px;
        font-size: 19px;
        font-size: 1.85rem;
    }
}

@media (max-width: 749px)
and (orientation : landscape){

    .forside .backgroundParallax{
        background-position: -190px 50% !important;
        background-size: auto auto !important;
    }
}

@media(max-width : 749px)
and (orientation : landscape),
(max-width : 350px) {
    .forside .large-page-content{
        display: none;
    }

    .forside .background-parallax {
        width: 100%;
        background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    }

    .forside h1.large-page-header{
        background: none repeat scroll 0 0 rgba(0, 0, 0, 0.7);
    }
}

@media (max-width: 890px) {


    .background-parallax {
        position: absolute;
        bottom: 15px;
        /*	bottom: 10vh;*/
        left: 0px;
        /*left: 0vw;*/
        text-align: center;
    }


    .large-page-header {
        text-align: center;
        font-size: 3.6rem;
        background-color: rgba(0,0,0,0.7);
        padding: 2px 40px 5px 10px;
    }

    .large-page-content {
        color: #ffffff;
        line-height: 35px;
        text-align: center;
        font-weight: normal;
        font-size: 22px;
        font-size: 2.2rem;
        background-color: rgba(0,0,0,0.7);
        padding: 2px 40px 5px 10px;
    }

    .large-page-buttons {
        color: #ffffff;
        line-height: 35px;
        font-size: 2.2rem;
        margin-top: 20px;
        text-align: center;
    }
}

@media (max-width: 992px) {
    .booking-matched-rooms .col-md-offset-1.col-md-5.text-center{
        width: 284px;
        padding: 0;
    }
}

@media (max-width: 650px) {
    .forside .backgroundParallax {
        background-position: -130px 50% !important;
        /*background-size: auto auto !important;*/
    }

    .col-md-8, .col-md-4, .col-md-6, .room-overview .col-md-8, .room-overview .col-md-4{
        width: 100%;
    }

    .large-page-buttons {
        text-align: center;
    }
}



/* Fikser probleme med vh-støtte på iPhone 5, 5s og lavere */
@media (max-device-width: 568px) and (max-width: 568px) {
    .backgroundParallax{
        height: 500px;
    }


}

@media (min-device-width: 569px) and
(min-width: 569px) {
    .backgroundParallax{
        height: 100vh;
    }
}

@media only screen
and (min-device-width : 414px)
and (max-device-width : 736px) {
    .backgroundParallax{
        height: 100vh;
    }
}
